# Python / cache
__pycache__/
*.pyc

# Airflow
logs/
airflow*.db
*.pid

# VS Code
.vscode/

# Docker
*.log

# dbt artefatos
dbt/target/
dbt/dbt_packages/

# Dados locais (evitar subir dados grandes)
data/
!dbt/seeds/