# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.pid

# ==========================
# Airflow
# ==========================
# Banco local do Airflow (SQLite)
airflow*.db
# Logs e caches
airflow/logs/
airflow/plugins/__pycache__/
logs/

# ==========================
# Docker
# ==========================
*.log
# Volumes locais (por exemplo, Postgres)
postgres_data/
# Pastas temporárias que o Docker cria
**/.pytest_cache/
**/.mypy_cache/
**/.tox/
**/.coverage
**/htmlcov/
**/coverage.xml

# ==========================
# dbt
# ==========================
dbt/target/
dbt/dbt_packages/
# Permite seeds versionados (CSV)
!dbt/seeds/

# ==========================
# VS Code / IDEs
# ==========================
.vscode/
.idea/
*.code-workspace

# ==========================
# Dados locais / Artefatos
# ==========================
data/
.env
.env.local
.env.*.local

# ==========================
# Arquivos temporários do pipeline
# ==========================
dbt/vendas_temp.csv
dbt/vendas_tratado.csv

# Arquivos gerados pela camada Bronze
dbt/bronze/*.json

# Arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivo local de usuário do VSCode/dbt
.user.yml